/* React Split Gutter Styles */
.gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: row-resize;
}

.dark .gutter {
  background-color: #374151;
}

.gutter:hover {
  background-color: #3b82f6;
}

.dark .gutter:hover {
  background-color: #60a5fa;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: row-resize;
}
